<!--<div class="ms-modal-wrapper"></div>-->
<div class="ms-modal-wrapper" id="{{id}}">
    <div class="ms-modal shadow">
        <div class="ms-modal-content scrollbar">
            {{#if content}}
                {{content}}
            {{else}}
                {{LoadTemplate template "param"}}
            {{/if}}
        </div>
        <div class="ms-ui-close-btn" ms-ui-referer="{{id}}"><i class="far fa-times extra-large"></i></div>
    </div>
</div>