<div class="ms-notification shadow" id="{{id}}">
    <div class="ms-notification-content scrollbar">
        {{#if content}}
            {{content}}
        {{else}}
            {{LoadTemplate template "param"}}
        {{/if}}
    </div>
    <div class="ms-ui-close-btn" ms-ui-referer="{{id}}"><i class="far fa-times extra-large"></i></div>
</div>