<a href="#benchmark/{{id}}" data-navigo>
    <div class="article s1x1" style="background-image: url(media/cms/images/{{headerimage}});">
        <div class="content-wrapper">
            <div class="small">{{teaser}}</div>
            <div class="heading2">{{title}}</div>
            <span class="medium">{{subtitle}}</span><br><br>
            <span class="small">{{dateToMoment createDateTime}} by {{fullname}} </span>
        </div>
    </div>
</a>