<div class="article listitem">
    <a href="#benchmark/{{id}}" data-navigo>
        <div class="teaser-image" style="background-image: url(media/cms/images/{{headerimage}});"></div>
    </a>
    <div class="content-wrapper">
        <div class="small">{{teaser}}</div>
        <div class="heading2"><a href="#benchmark/{{id}}" data-navigo>{{title}}</a></div>
        <span class="medium subtitle">{{subtitle}}</span><br />
        <span class="small">{{dateToMoment createDateTime}} by {{fullname}} </span>
    </div>
</div>
<div class="seperator"></div>