<div class="homepage-view view-container responsive">
    <div class="page">
        <div class="article-detail-view-wrapper">
            <div class="heading2 xx-large">{{title}}</div>
            <div>{{subtitle}}</div><br>
            <div class="small"><span ms-uielement ms-uielement-type="Tooltip" ms-uielement-content="{{createDateTime}}"
                    ms-uielement-trigger="click" ms-uielement-sticky="false" ms-uielement-position="left"
                    ms-uielement-animation="slide" ms-uielement-open-direction="top">{{dateToMoment
                    createDateTime}}</span> by {{fullname}}</div><br>
            <img src=" media/cms/images/{{headerimage}}" style="width: 100%; margin-bottom:2rem; border-radius:4px">
            <p style="white-space: pre-line;">{{content}}</p>
        </div>
    </div>
</div>