<div class="homepage-view view-container responsive">
    <div class="page">
        <div class="article-detail-view-wrapper">
            <div class="heading2 xx-large">{{title}}</div>
            <div>{{subtitle}}</div><br />
            <div class="small"><span
                    ms-uielement
                    ms-uielement-content="{{dateFormat createDateTime "LL"}}"
                    ms-uielement-type="Tooltip"
                    ms-uielement-trigger="click"
                    ms-uielement-animation="fadeUp"
                    ms-uielement-open-indicator="true"
                    ms-uielement-content="date"
                    ms-uielement-position="centerbot"
                    ms-uielement-open-direction="y"
                    ms-uielement-own-x-pos="center"
                >{{dateToMoment createDateTime}}</span>
                by
                {{fullname}}</div><br />
            <div class="article-detail-img-container"><img
                    src=" media/cms/images/{{headerimage}}"
                    style="width: 100%; height:100%;object-fit: cover;"
                /></div>

            <p style="white-space: pre-line;" class="article-detail-content lineheight">{{{content}}}</p>
        </div>
    </div>
</div>